<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.6.0/css/solid.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vanilla-icon-picker@1.3.0/dist/themes/default.min.css">
  <link rel="stylesheet" href="json-editor.css">
  <link rel="stylesheet" href="tailwind.min.css">
  <title>Start</title>
</head>

<body>
  <div id="app">
    <button data-tippy-content="Edit" data-tippy-placement="left"
      class="fixed bottom-8 right-8 w-14 h-14 bg-yellow-500 hover:bg-yellow-400 p-3 rounded-full shadow-lg text-white flex items-center justify-center"
      v-if="localStorage && !edit" @click="edit = true"><i class="fas fa-pen"></i></button>
    <button data-tippy-content="Cancel" data-tippy-placement="left"
      class="fixed bottom-8 right-8 w-14 h-14 bg-gray-500 hover:bg-gray-400 p-3 rounded-full shadow-lg text-white flex items-center justify-center"
      v-if="edit" @click="cancel"><i class="fas fa-xmark"></i></button>
    <button data-tippy-content="Save" data-tippy-placement="left"
      class="fixed bottom-24 right-8 w-14 h-14 bg-green-500 hover:bg-green-400 p-3 rounded-full shadow-lg text-white flex items-center justify-center"
      v-if="edit" @click="accept"><i class="fas fa-check"></i></button>
    <button data-tippy-content="Edit JSON" data-tippy-placement="left"
      class="fixed bottom-40 right-8 w-14 h-14 bg-blue-500 hover:bg-blue-400 p-3 rounded-full shadow-lg text-white flex items-center justify-center"
      v-if="edit" @click="editJson()"><i class="fas fa-edit"></i></button>
    <span class="fixed bottom-8 left-8 flex space-x-5">
      <button data-tippy-content="Versions" data-tippy-placement="left"
        class="bg-gray-200 hover:bg-gray-100 px-5 py-3 rounded-full shadow-lg flex items-center justify-center"
        v-if="edit" @click="showVersions"><i class="fas fa-timeline pr-2"></i>{{ lastUpdated?.toLocaleString() }}</button>
      <button data-tippy-content="Behavior when opening a link" data-tippy-placement="left"
        class="bg-gray-200 hover:bg-gray-100 px-5 py-3 rounded-full shadow-lg flex items-center justify-center w-64"
        :class="{ 'bg-green-400 hover:bg-green-200': openNewTab, 'bg-yellow-400 hover:bg-yellow-200': !openNewTab }"
        v-if="edit" @click="toggleNewTab()"><i class="fas pr-2" :class="{ 'fa-external-link-alt': openNewTab, 'fa-window-maximize': !openNewTab }"></i>{{ openNewTab ? "Open links in new tab" : "Open links in same tab" }}</button>
    </span>

    <div class="container mx-auto sm:my-5 space-y-4" v-if="messages.length > 0">
      <div class="bg-green-400 rounded-lg p-2 text-center flex" v-for="m in messages">
        <span class="flex-grow content-center"><i class="fas fa-bullhorn pr-2"></i>{{m.message}}</span>
        <button @click="dismissMessage(m.id)" class="rounded right-8 p-2 hover:bg-green-200"><i class="fas fa-check pr-2"></i>Dismiss</button>
      </div>
    </div>

    <div class="container mx-auto sm:my-5 space-y-4">
      <template v-for="block, blockIdx in blocks" :key="block.name">
        <div class="shadow-lg rounded-lg" v-if="block.visible || edit" :draggable="edit ? true : null"
          @dragstart.self="onDragStart($event, blockIdx)" @drop="onDrop($event, blockIdx)"
          @dragover="onDragOver($event, blockIdx)" @dragenter="onDragEnter($event, blockIdx)"
          @dragleave="onDragLeave($event, blockIdx)" @dragend.self="onDragEnd">
          <div class="p-2 pl-5 rounded-t-lg font-bold text-white" :class="`bg-${block.color} ${block.extraClasses}`">
            <i class="fas pl-0 py-1 pr-1" :class="block.icon" v-if="block.icon"></i>
            {{ block.name }}
            <div class="inline-flex flex-grow justify-end" v-if="edit && !dragData">
              <button data-tippy-content="Visible" class=" w-10 hover:bg-gray-200 rounded" v-if="block.visible"
                @click="block.visible = false"><i class="fas fa-eye"></i></button>
              <button data-tippy-content="Hidden" class=" w-10 hover:bg-gray-200 text-gray-500 rounded"
                v-if="!block.visible" @click="block.visible = true"><i class="fas fa-eye-slash"></i></button>
              <button data-tippy-content="Edit" class="w-8 text-yellow-500 hover:bg-yellow-200 rounded"
                @click="editBlock(blockIdx, $event)"><i class="fas fa-pen"></i></button>
              <button data-tippy-content="Delete" class="mr-2 w-10 text-red-500 hover:bg-red-300 rounded"
                @click="deleteBlock(blockIdx)"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <div class="p-3 sm:flex space-x-0 sm:space-x-5 space-y-5 sm:space-y-0">
            <div class="flex-1 min-w-max sm:max-w-sm shadow-md rounded-lg border-2 pb-1" :class="`border-${group.color}`"
              v-for="group, groupIdx in block.groups" :draggable="edit ? true : null"
              @dragstart.self="onDragStart($event, blockIdx, groupIdx)" @drop="onDrop($event, blockIdx, groupIdx)"
              @dragover="onDragOver($event, blockIdx, groupIdx)" @dragenter="onDragEnter($event, blockIdx, groupIdx)"
              @dragleave="onDragLeave($event, blockIdx, groupIdx)" @dragend.self="onDragEnd">
              <div class="p-1 font-bold text-white flex" :class="`bg-${group.color}`">
                <i class="fas pl-0 py-1 pr-1" :class="group.icon" v-if="group.icon"></i>
                {{ group.name }}
                <div class="inline-flex flex-grow justify-end" v-if="edit && !dragData">
                  <button data-tippy-content="Edit" class="w-8 text-yellow-500 hover:bg-yellow-200 rounded"
                    @click="editGroup(blockIdx, groupIdx, $event)"><i class="fas fa-pen"></i></button>
                  <button data-tippy-content="Delete" class="w-8 text-red-500 hover:bg-red-300 rounded"
                    @click="deleteGroup(blockIdx, groupIdx)"><i class="fas fa-trash"></i></button>
                </div>
              </div>
              <template v-for="link, linkIdx in group.links">
                <a class="block px-2 py-1 hover:bg-gray-100 flex" :href="link.url" :target="openNewTab ? '_blank' : null" v-if="!edit">
                  <i class="fas pl-0 py-1 pr-1" :class="link.icon" v-if="link.icon"></i>{{ link.name }}
                </a>
                <div class="block px-2 py-1 hover:bg-gray-100 flex" v-if="edit" draggable="true" :title="link.url"
                  @dragstart.self="onDragStart($event, blockIdx, groupIdx, linkIdx)" @drop="onDrop($event, blockIdx, groupIdx, linkIdx)"
                  @dragover="onDragOver($event, blockIdx, groupIdx, linkIdx)" @dragenter="onDragEnter($event, blockIdx, groupIdx, linkIdx)"
                  @dragleave="onDragLeave($event, blockIdx, groupIdx, linkIdx)" @dragend.self="onDragEnd">
                  <i class="fas pl-0 py-1 pr-1" :class="link.icon" v-if="link.icon"></i>
                  {{ link.name }}
                  <div class="inline-flex flex-grow justify-end" v-if="!dragData">
                    <button data-tippy-content="Edit" class="edit-link w-6 text-yellow-500 hover:bg-yellow-200 rounded"
                      @click="editLink(blockIdx, groupIdx, linkIdx, $event)"><i class="fas fa-pen"></i></button>
                    <button data-tippy-content="Delete" class="w-6 text-red-500 hover:bg-red-300 rounded"
                      @click="deleteLink(blockIdx, groupIdx, linkIdx)"><i class="fas fa-trash"></i></button>
                  </div>
                </div>
              </template>
              <button data-tippy-content="Add" class="w-full px-2 py-1 hover:bg-gray-100" @drop="onDrop($event, blockIdx, groupIdx, -1)"
                @dragover="onDragOver($event, blockIdx, groupIdx, -1)" @dragenter="onDragEnter($event, blockIdx, groupIdx, -1)"
                @dragleave="onDragLeave($event, blockIdx, groupIdx, -1)"
                @click="editLink(blockIdx, groupIdx, -1, $event)" v-if="edit"><i class="fas fa-plus"></i></button>
            </div>
            <div class="w-16 shadow-md rounded-lg border-2 pb-1 border-gray-400" v-if="edit" @drop="onDrop($event, blockIdx, -1)"
                @dragover="onDragOver($event, blockIdx, -1)" @dragenter="onDragEnter($event, blockIdx, -1)"
                @dragleave="onDragLeave($event, blockIdx, -1)">
              <div class="p-1 font-bold text-white bg-gray-400 text-white">
                <button data-tippy-content="Add" class="w-full px-2 py-1 hover:bg-gray-300"
                  @click="editGroup(blockIdx, -1, $event)"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </template>

      <div class="shadow-lg rounded-lg" v-if="edit" @drop="onDrop($event, -1)"
                @dragover="onDragOver($event, -1)" @dragenter="onDragEnter($event, -1)"
                @dragleave="onDragLeave($event, -1)">
        <div class="p-2 pl-5 rounded-t-lg font-bold text-white flex bg-gray-400">
          <button data-tippy-content="Add" class="w-8 px-2 py-1 hover:bg-gray-300" @click="editBlock(-1, $event)">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div class="flex p-3 space-x-5"></div>
      </div>

      <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full p-10 flex" v-if="showJson" @show="loadJson()">
        <button data-tippy-content="Cancel" data-tippy-placement="left"
          class="fixed bottom-8 right-8 w-14 h-14 bg-gray-500 hover:bg-gray-400 p-3 rounded-full shadow-lg text-white flex items-center justify-center"
          @click="cancelJson()"><i class="fas fa-xmark"></i></button>
        <button data-tippy-content="Save" data-tippy-placement="left"
          class="fixed bottom-24 right-8 w-14 h-14 bg-green-500 hover:bg-green-400 p-3 rounded-full shadow-lg text-white flex items-center justify-center"
          @click="acceptJson()"><i class="fas fa-check"></i></button>
        <json-editor class="border-2 w-full h-full rounded-lg editor" id="editor" indent="2">
        </json-editor>
      </div>
    </div>

    <input type="file" class="hidden" id="file-input" accept="application/json" @change="loadFileContent" />
    <tooltip-dummy v-if="edit"></tooltip-dummy>

    <teleport to="#popup" v-if="showPopup">
      <edit-link v-bind="popupData" v-if="popupData.type === 'link'"></edit-link>
      <edit-title v-bind="popupData" v-if="popupData.type === 'title'"></edit-title>
      <show-versions v-bind="popupData" v-if="popupData.type === 'versions'"></show-versions>
    </teleport>
  </div>

  <script type="text/x-template" id="edit-link-template">
    <div class="bg-white text-black p-2 w-80">
      <div class="block">
        <i class="fas fa-tag"></i>
        <input type="text" placeholder="Google" v-model="name" class="w-64 p-1 m-2 border-solid border-2 border-gray-300" />
      </div>
      <div class="block">
        <i class="fas fa-at"></i>
        <input type="text" placeholder="https://www.google.com" v-model="url" class="w-64 p-1 m-2 border-solid border-2 border-gray-300" />
      </div>
      <div class="block">
        <i class="fas fa-icons"></i>
        <input id="icon" type="search" placeholder="fa-link" v-model="icon" class="w-60 p-1 m-2 border-solid border-2 border-gray-300" />
        <i class="fas p-2" :class="icon"></i>
      </div>
      <div class="block">
        <a class="ml-6" href="https://fontawesome.com/v6/search?o=r&m=free&s=solid" target="_blank" rel="noopener noreferrer">Font Awesome 6 Icons</a>
      </div>
      <div class="block px-2 py-1 flex">
        <span class="flex-grow"></span>
        <button class="w-8 h-8 mr-1 rounded text-white bg-green-500 hover:bg-green-400" @click="save"><i class="fas fa-save"></i></button>
        <button class="w-8 h-8 rounded text-red-500 hover:bg-red-100" @click="close"><i class="fas fa-ban"></i></button>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="edit-title-template">
    <div class="bg-white text-black p-2 w-80">
      <div class="block">
        <i class="fas fa-tag"></i>
        <input type="text" placeholder="Title" v-model="name" class="w-64 p-1 m-2 border-solid border-2 border-gray-300" />
      </div>
      <div class="block">
        <i class="fas fa-icons"></i>
        <input id="icon" type="search" placeholder="fa-link" v-model="icon" class="w-60 p-1 m-2 border-solid border-2 border-gray-300" />
        <i class="fas p-2" :class="icon"></i>
      </div>
      <div class="block">
        <a class="ml-6" href="https://fontawesome.com/v6/search?o=r&m=free&s=solid" target="_blank" rel="noopener noreferrer">Font Awesome 6 Icons</a>
      </div>
      <div class="block">
        <i class="fas fa-palette"></i>
        <input type="text" v-model="color" class="w-60 p-1 m-2 border-solid border-2 border-gray-300" />
        <i class="fas fa-tint w-8 h-8 p-2 text-center text-white" :class="`bg-${color}`"></i>
      </div>
      <div class="block">
        <button class="w-3 h-3 m-0.5" :class="`bg-${c}`" v-for="c in colors" :key="c" @click="color = c" />
      </div>
      <div class="block">
        <a class="ml-6" href="https://tailwindcss.com/docs/customizing-colors#color-palette-reference" target="_blank" rel="noopener noreferrer">Tailwind.css color palette</a>
      </div>
      <div class="block px-2 py-1 flex">
        <span class="flex-grow"></span>
        <button class="w-8 h-8 mr-1 rounded text-white bg-green-500 hover:bg-green-400" @click="save"><i class="fas fa-save"></i></button>
        <button class="w-8 h-8 rounded text-red-500 hover:bg-red-100" @click="close"><i class="fas fa-ban"></i></button>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="versions-template">
    <div class="bg-white text-black py-2 w-52">
      <div class="block">
        <div class="flex hover:bg-gray-100" :class="{ 'bg-gray-200': v.valueOf() === lastUpdated.valueOf() }" v-for="v in versions">
        <button class="p-2 w-full flex-grow text-left" @click="loadVersion(v)"><i class="fas fa-clock mr-2"></i>{{ v.toLocaleString() }}</button>
        <button data-tippy-content="Delete" class="mr-2 w-10 text-red-500 hover:bg-red-300 rounded"
          @click="deleteVersion(v)"><i class="fas fa-trash"></i></button>
        </div>
      </div>
    </div>
  </script>

  <script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
  <script src="https://unpkg.com/vue@3.5.0/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/idb@8.0.0/build/umd.js"></script>
  <script src="https://unpkg.com/vanilla-icon-picker@1.3.0/dist/icon-picker.min.js"></script>
  <script src="json-editor.js"></script>
  <script src="startpage-data.js"></script>
  <script src="startpage.js"></script>
</body>

</html>